{% block footer %}
    <script type=text/javascript
            src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <div id="footer">
        <hr/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <p class="text-left">{{ copyright }}</p>
                </div>
                <div class="col-xs-1">
                    <p class="text-left">{{ version }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}