body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

#voyages-list-section {
    background: dimgray;
    float: left;
    width: 40%;
}

#voyages-forms-section {
    background: darkgray;
    margin-left: 40%;
}

#voyages-list-menu {
    float: left;
    width: 9em;
}

#voyages-list-container {
    margin-left: 9em;
}

.side_button {
    width: 9em;
}

#forms-section {
    margin-left: 40%;
    border: solid black thin;
}