* {
    padding: 0;
    margin: 0;
}

/*body {*/
    /*font-family: Helvetica,serif;*/
    /*font-size: 14px;*/
    /*background: #ffffff;*/
/*}*/

/*#header {*/
    /*background: #8dc771;*/
/*}*/

/*#footer {*/
    /*background: #86b2aa;*/
/*}*/