{% extends "layout.html" %}
{% block body %}
    <script type=text/javascript
            src="{{ url_for('static', filename='js/utils.js') }}">
    </script>
    <script type=text/javascript
            src="{{ url_for('static', filename='js/events.js') }}">
    </script>
    <script type=text/javascript
            src="{{ url_for('static', filename='js/events_page.js') }}">
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-6">
                <div id="event_sub_form" class="collapse in">
                    <fieldset>
                        <!-- event list -->
                        <legend>Events</legend>
{#                        <div class="form-group">#}
{#                            <label for="events">Events</label>#}
{#                            <select id="events" class="form-control" tabindex="0"#}
{#                                    data-toggle="tooltip"#}
{#                                    title="the list of events associated with the waypoint">#}
{#                                <option id="select_event">Select an event...</option>#}
{#                            </select>#}
{#                        </div>#}
                        <!-- waypoint id -->
                        <input type="hidden" id="event_waypoint_id"/>
                        <!-- voyage id -->
                        <input type="hidden" id="event_voyage_id"/>
                        <!-- event id -->
                        <div class="form-group hide" id="event_id_form_group">
                            <label for="event_id">Event ID</label>
                            <p id="event_id"></p>
                        </div>
                        <!-- event name -->
                        <div class="form-group">
                            <label for="event_name">Event Name</label>
                            <input type="text" id="event_name" class="form-control"
                                   tabindex="0" data-toggle="tooltip"
                                   title="the short name of the event">
                        </div>
                        <!-- event notes -->
                        <div class="form-group">
                            <label for="event_notes" data-toggle="collapse"
                                   data-target="#event_notes_pane">Event Notes
                                <span class="glyphicon glyphicon-collapse-down"
                                      aria-hidden="true"></span>
                            </label>

                            <div id="event_notes_pane" class="collapse">
                                <textarea id="event_notes" class="form-control"
                                          tabindex="0" data-toggle="tooltip"
                                          title="Description of the event and additional notes">

                                </textarea>
                            </div>
                        </div>
                        <!-- event form buttons -->
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default btn-sm"
                                    id="add_event_btn" tabindex="0"
                                    data-toggle="tooltip"
                                    title="Add an event to the waypoint">
                                Add Event
                            </button>
                            <button type="button" class="btn btn-default btn-sm"
                                    id="modify_event_btn" tabindex="0"
                                    data-toggle="tooltip"
                                    title="Modify the selected event">
                                Modify Event
                            </button>
                            <button type="button" class="btn btn-default btn-sm"
                                    id="delete_event_btn" tabindex="0"
                                    data-toggle="tooltip"
                                    title="Delete the selected Event">
                                Remove Event
                            </button>
                            <button type="button" class="btn btn-default btn-sm"
                                    id="reset_event_form_btn" tabindex="0">Reset
                                Event Form
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-4">
                <table class="table table-striped" id="events_table">
                    <tr id="event_top_row">
                        <th>ID</th>
                        <th>Waypoint</th>
                        <th>Voyage</th>
                        <th>Event Name</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}