{% extends "layout.html" %}
{% block body %}
<script type=text/javascript
        src="{{ url_for('static', filename='js/ships.js') }}"></script>

<!-- confirm delete ship modal -->
<div class="modal fade" id="confirm-delete-ship-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected ships?
                    This operation cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        id="confirm-delete-ship-btn">Confirm
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- content -->
<div id="content">
    <div id="ship-list-outer">
        <div id="table-menu-div" class="btn-group">
            <button id="select-all-ships-btn" class="btn">
                select all
            </button>
            <button id="deselect-all-ships-btn" class="btn">
                deselect all
            </button>
            <button id="delete-ship-btn" class="btn">
                delete selected
            </button>
        </div>
        <table class="table" id="ship-list">
            <tr id="ship-list-hdr-row">
                <th><span class="glyphicon glyphicon-ok"></span></th>
                <th>Name</th>
                <th>Captain</th>
                <th>Flag</th>
                <th>Notes</th>
                <th>Voyage</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
