{% extends "layout.html" %}
{% block body %}
    <script type=text/javascript
        src="{{ url_for('static', filename='js/trades.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/waypoints.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/voyages.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/voyages_page.js') }}">
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group">
                    <button class="btn btn-default" id="add_voyage_btn">
                        Add Voyage
                    </button>
                    <button class="btn btn-default" id="modify_voyage_btn">
                        Modify Voyage
                    </button>
                    <button class="btn btn-default" id="delete_voyage_btn">
                        Delete Voyage
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <!-- voyage_id -->
                <div class="form-group">
                    <label for="voyage_id">Voyage ID</label>
                    <span class="form-control-static" id="voyage_id"></span>
                </div>
                <!-- voyage -->
                <fieldset id="voyage_info_sub_form">
                    <legend>Voyage</legend>
                    <!-- voyage name -->
                    <div class="form-group">
                        <label for="voyage_name">Voyage Name</label>
                        <input type="text" class="form-control"
                               id="voyage_name">
                    </div>
                    <!-- voyage notes -->
                    <div class="form-group">
                        <label for="voyage_notes">Voyage Notes</label>
                        <textarea id="voyage_notes" class="form-control">
                        </textarea>
                    </div>
                </fieldset>
                <!-- ship -->
                <fieldset id="ship_sub_form">
                    <legend>Ship</legend>
                    <!-- ship name -->
                    <div class="form-group">
                        <label for="ship_name">Ship Name</label>
                        <input type="text" class="form-control"
                               name="ship_name" id="ship_name">
                    </div>
                    <!-- ship captain -->
                    <div class="form-group">
                        <label for="ship_captain">Ship Captain</label>
                        <input type="text" class="form-control"
                               name="ship_captain" id="ship_captain">
                    </div>
                    <!-- ship flag -->
                    <div class="form-group">
                        <label for="ship_flag">Ship Flag</label>
                        <input type="text" class="form-control"
                               name="ship_flag" id="ship_flag">
                    </div>
                    <!-- ship notes -->
                    <div class="form-group">
                        <label for="ship_notes">Ship Notes</label>
                        <textarea id="ship_notes"
                        class="form-control"></textarea>
                    </div>
                </fieldset>
                <!-- waypoints -->
                <fieldset id="waypoint_sub_form" disabled>
                    <legend>Waypoints</legend>
                    <!-- waypoint list -->
                    <div class="form-group">
                        <label for="waypoints">Waypoints</label>
                        <select name="waypoints`" class="form-control"
                                id="waypoints">
                        </select>
                    </div>
                    <!-- waypoint form elements
                    <!-- voyage id -->
                    <input type="hidden" id="waypoint_voyage_id"/>
                    <!-- waypoint id -->
                    <div class="form-group">
                        <label for="waypoint_id">Waypoint ID</label>
                        <p id="waypoint_id">0</p>
                    </div>
                    <!-- waypoint name -->
                    <div class="form-group">
                        <label for="waypoint_name">Waypoint Name</label>
                        <input type="text" class="form-control"
                               id="waypoint_name">
                    </div>
                    <!-- waypoint type -->
                    <div class="form-group">
                        <label for="waypoint_type">Waypoint Type</label>
                        <select name="waypoint_type" class="form-control"
                                id="waypoint_type">
                            <option value="start">start</option>
                            <option value="stop">stop</option>
                            <option value="end">end</option>
                        </select>
                    </div>
                    <!-- waypoint start date -->
                    <div class="form-group">
                        <label for="waypoint_start_date">Start Date</label>
                        <input type="text" class="form-control"
                               id="waypoint_start_date">
                    </div>
                    <!-- waypoint end date -->
                    <div class="form-group">
                        <label for="waypoint_end_date">End Date</label>
                        <input type="text" class="form-control"
                               id="waypoint_end_date">
                    </div>
                    <!-- waypoint location -->
                    <div class="form-group">
                        <label for="waypoint_location">Location</label>
                        <input type="text" class="form-control" id="waypoint_location">
                    </div>
                    <!-- waypoint notes -->
                    <div class="form-group">
                        <label for="waypoint_notes">Waypoint Notes</label>
                        <textarea id="waypoint_notes" class="form-control">
                        </textarea>
                    </div>
                    <!-- waypoint operation buttons -->
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-sm"
                                name="add_waypoint" id="add_waypoint_btn">
                            Add Waypoint
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="modify_waypoint_btn">Modify Waypoint
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="delete_waypoint_btn">
                            Remove Waypoint
                        </button>
                    </div>
                </fieldset>
                <!-- trades -->
                <fieldset id="trade_sub_form" disabled>
                    <legend>Trades</legend>
                    <!-- trade list -->
                    <div class="form-group">
                        <label for="trades">Trades</label>
                        <select id="trades" class="form-control
                        trade_form_ele"></select>
                    </div>
                    <!-- voyage id -->
                    <input type="hidden" id="trade_waypoint_id"/>
                    <!-- trade id -->
                    <div class="form-group">
                        <label for="trade_id">Trade ID</label>
                        <p id="trade_id" class="trade_form_ele"></p>
                    </div>
                    <!-- trade type -->
                    <div class="radio">
                        <label>
                            <input type="radio" class="trade_bought_sold
                            trade_form_ele" value="bought">
                            Bought
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" class="trade_bought_sold"
                            value="sold">
                            Sold
                        </label>
                    </div>
                    <!-- trade item -->
                    <div class="form-group">
                        <label for="item">Item</label>
                        <input type="text" id="trade_item"
                               class="form-control">
                    </div>
                    <!-- trade quantity -->
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" min="0" id="trade_quantity"
                               class="form-control">
                    </div>
                    <!-- trade form buttons -->
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-sm"
                                id="add_trade_btn">
                            Add Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="modify_trade_btn">
                            Modify Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="delete_trade_btn">
                            Remove Item
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-7">
                <table class="table table-striped" id="voyages_table">
                    <tr id="table_top_row">
                        <th>Voyage ID</th>
                        <th>Voyage Name</th>
                        <th>Ship Name</th>
                        <th>Ship Captain</th>
                        <th>Ship Flag</th>
                        <th>Waypoints</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}