{% extends "layout.html" %}
{% block body %}
    <script type=text/javascript
        src="{{ url_for('static', filename='js/trades.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/waypoints.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/voyages.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/sources.js') }}">
    </script>
    <script type=text/javascript
        src="{{ url_for('static', filename='js/voyages_page.js') }}">
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <div class="btn-group btn-group-vertical">
                    <button class="btn btn-default" id="add_voyage_btn"
                            data-toggle="tooltip" title="Add a voyage">
                        Add Voyage
                    </button>
                    <button class="btn btn-default" id="modify_voyage_btn"
                            data-toggle="tooltip" title="Modify selected voyage">
                        Modify Voyage
                    </button>
                    <button class="btn btn-default" id="delete_voyage_btn"
                            data-toggle="tooltip" title="Delete selected voyage">
                        Delete Voyage
                    </button>
                    <button class="btn btn-default" id="clear_form_btn"
                            data-toggle="tooltip" title="Clear the voyage form">
                        Clear Form
                    </button>
                </div>
                <div id="status-bar">[STATUS BAR]</div>
            </div>
            <div class="col-xs-6">
                <!-- voyage -->
                <fieldset id="voyage_info_sub_form">
                    <legend>Voyage</legend>
                    <!-- voyage_id -->
                    <div class="form-group" id="voyage_id_form_group">
                        <label for="voyage_id">Voyage ID</label>
                        <span class="form-control-static" id="voyage_id"></span>
                    </div>
                    <!-- voyage name -->
                    <div class="form-group">
                        <label for="voyage_name">Voyage Name</label>
                        <input type="text" class="form-control"
                               id="voyage_name" tabindex="0"
                               data-toggle="tooltip" title="Name of the voyage">
                    </div>
                    <!-- voyage notes -->
                    <div class="form-group">
                        <label for="voyage_notes" data-toggle="collapse"
                               data-target="#voyage_notes_pane">
                            Voyage Notes
                        </label>
                        <div id="voyage_notes_pane" class="collapse">
                            <textarea id="voyage_notes" class="form-control"
                                      tabindex="0" data-toggle="tooltip"
                                    title="Description of the voyage and other notes">
                            </textarea>
                        </div>
                    </div>
                </fieldset>
                <!-- ship -->
                <fieldset id="ship_sub_form">
                    <legend>Ship</legend>
                    <!-- ship name -->
                    <div class="form-group">
                        <label for="ship_name">Ship Name</label>
                        <input type="text" class="form-control"
                               name="ship_name" id="ship_name" tabindex="0"
                                data-toggle="tooltip"
                                title="Name of the Ship">
                    </div>
                    <!-- ship captain -->
                    <div class="form-group">
                        <label for="ship_captain">Ship Captain</label>
                        <input type="text" class="form-control"
                               name="ship_captain" id="ship_captain" tabindex="0"
                                data-toggle="tooltip"
                               title="Name of the ship's captain">
                    </div>
                    <!-- ship flag -->
                    <div class="form-group">
                        <label for="ship_flag">Ship Flag</label>
                        <input type="text" class="form-control" name="ship_flag"
                               id="ship_flag" tabindex="0" data-toggle="tooltip"
                                title="Country/entity that the ship is from">
                    </div>
                    <!-- ship notes -->
                    <div class="form-group">
                        <label for="ship_notes" data-toggle="collapse"
                               data-target="#ship_notes_pane">Ship
                            Notes</label>
                        <div id="ship_notes_pane" class="collapse">
                            <textarea id="ship_notes" class="form-control"
                                      tabindex="0" data-toggle="tooltip"
                                    title="Description of the ship and additional notes">
                            </textarea>
                        </div>
                    </div>
                </fieldset>
                <!-- waypoints -->
                <div id="waypoint_sub_form" class="collapse in">
                    <fieldset>
                    <legend>Waypoints</legend>
                    <!-- waypoint list -->
                    <div class="form-group">
                        <label for="waypoints">Waypoints</label>
                        <select name="waypoints`" class="form-control"
                                id="waypoints" tabindex="0"
                                data-toggle="tooltip"
                                title="list of waypoints associated with the
                                voyage">
                            <option id="select_waypoint">
                                Select a Waypoint...
                            </option>
                        </select>
                    </div>
                    <!-- waypoint form elements
                    <!-- voyage id -->
                    <input type="hidden" id="waypoint_voyage_id"/>
                    <!-- waypoint id -->
                    <div class="form-group">
                        <label for="waypoint_id">Waypoint ID</label>
                        <p id="waypoint_id">0</p>
                    </div>
                    <!-- waypoint name -->
                    <div class="form-group">
                        <label for="waypoint_name">Waypoint Name</label>
                        <input type="text" class="form-control"
                               id="waypoint_name" tabindex="0"
                               data-toggle="tooltip"
                                title="Descriptive name for the waypoint">
                    </div>
                    <!-- waypoint type -->
                    <div class="form-group">
                        <label for="waypoint_type">Waypoint Type</label>
                        <select name="waypoint_type" class="form-control"
                                id="waypoint_type" tabindex="0"
                                data-toggle="tooltip"
                                title="The type of the waypoint; start:
                                beginnning of voyage, stop: temporary stop
                                during voyage; end: final location of voyage">
                            <option value="">Select a waypoint type</option>
                            <option value="start">start</option>
                            <option value="stop">stop</option>
                            <option value="end">end</option>
                        </select>
                    </div>
                    <!-- waypoint start date -->
                    <div class="form-group">
                        <label for="waypoint_start_date">Start Date</label>
                        <input type="text" class="form-control"
                               id="waypoint_start_date" tabindex="0"
                               data-toggle="tooltip"
                                title="The beginning date of the waypoint; for
                                single-date waypoints such as start, just fill
                                in this field">
                    </div>
                    <!-- waypoint end date -->
                    <div class="form-group">
                        <label for="waypoint_end_date">End Date</label>
                        <input type="text" class="form-control"
                               id="waypoint_end_date" tabindex="0"
                               data-toggle="tooltip"
                                title="The end date of the waypoint; primarily
                                for stops that lasted more than one day">
                    </div>
                    <!-- waypoint location -->
                    <div class="form-group">
                        <label for="waypoint_location">Location</label>
                        <input type="text" class="form-control"
                               id="waypoint_location" tabindex="0"
                               data-toggle="tooltip"
                               title="The location of the waypoint">
                    </div>
                    <!-- waypoint notes -->
                        <div class="form-group">
                            <label for="waypoint_notes" data-toggle="collapse"
                                   data-target="#waypoint_notes_pane">Waypoint
                                Notes</label>

                            <div id="waypoint_notes_pane" class="collapse">
                                <textarea id="waypoint_notes"
                                          class="form-control"
                                          tabindex="0" data-toggle="tooltip"
                                        title="Descriptive notes aobut the
                                        waypoint">
                                </textarea>
                            </div>
                        </div>
                    <!-- waypoint operation buttons -->
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-sm"
                                name="add_waypoint" id="add_waypoint_btn"
                                tabindex="0" data-toggle="tooltip"
                                title="Add a waypoint to the current voyage">
                            Add Waypoint
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="modify_waypoint_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Modify the selected waypoint">
                            Modify Waypoint
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="delete_waypoint_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Delete the selected waypoint">
                            Remove Waypoint
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="reset_waypoint_form_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Reset the waypoint form">
                            Reset Waypoint Form
                        </button>
                    </div>
                </fieldset>
                </div>
                <!-- trades -->
                <div id="trade_sub_form" class="collapse in">
                    <fieldset>
                    <legend>Trades</legend>
                    <!-- trade list -->
                    <div class="form-group">
                        <label for="trades">Trades</label>
                        <select id="trades" class="form-control
                        trade_form_ele" tabindex="0" data-toggle="tooltip"
                                title="The list of trades associated with the
                                current waypoint">
                            <option id="select_trade">Select a trade...</option>
                        </select>
                    </div>
                    <!-- waypoint id -->
                    <input type="hidden" id="trade_waypoint_id"/>
                    <!-- trade id -->
                    <div class="form-group">
                        <label for="trade_id">Trade ID</label>
                        <p id="trade_id" class="trade_form_ele"></p>
                    </div>
                    <!-- trade type -->
                    <div class="radio">
                        <label>
                            <input type="radio" class="trade_bought_sold
                            trade_form_ele" value="bought"
                                   name="trade_bought_sold" tabindex="0"
                                    data-toggle="tooltip"
                                   title="The item was purchased">
                            Bought
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" class="trade_bought_sold"
                            value="sold" name="trade_bought_sold" tabindex="0"
                                    data-toggle="tooltip"
                                    title="The item was sold">
                            Sold
                        </label>
                    </div>
                    <!-- trade quantity -->
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" min="0" id="trade_quantity"
                               class="form-control" tabindex="0"
                               data-toggle="tooltip"
                                title="The number of items">
                    </div>
                    <!-- trade item -->
                    <div class="form-group">
                        <label for="item">Item</label>
                        <input type="text" id="trade_item"
                               class="form-control" name="bought_sold"
                               tabindex="0" data-toggle="tooltip"
                                title="A descriptive name for the item">
                    </div>

                    <!-- trade notes -->
                    <div class="form-group">
                        <label for="trade_notes" data-toggle="collapse"
                               data-target="#trade_notes_pane">Trade Notes</label>
                        <div id="trade_notes_pane" class="collapse">
                            <textarea id="trade_notes" class="form-control"
                                      tabindex="0" data-toggle="tooltip"
                                    title="Description of the item and any
                                    additional notes"></textarea>
                        </div>
                    </div>
                    <!-- trade form buttons -->
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-sm"
                                id="add_trade_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Add a traded item to the waypoint">
                            Add Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="modify_trade_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Modify the selected item">
                            Modify Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="delete_trade_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Delete the selected Item">
                            Remove Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="reset_trade_form_btn" tabindex="0">Reset Trade Form</button>
                    </div>
                </fieldset>
                </div>
                <div id="sources_sub_form" class="collapse in">
                    <fieldset>
                        <legend>Sources</legend>
                        <!-- sources list -->
                        <div class="form-group">
                            <label for="sources">Sources</label>
                            <select id="sources" class="form-control"
                                    tabindex="0" data-toggle="tooltip"
                                    title="the list of sources associatied with the current voyage">
                                <option id="select_source">Select a source...</option>
                            </select>
                        </div>
                        <!-- source id -->
                        <input type="hidden" id="source_voyage_id"/>
                        <div class="form-group">
                            <label for="source_id">Source ID</label>
                            <p id="source_id"></p>
                        </div>
                        <!-- citation -->
                        <div class="form-group">
                            <label for="source_citation">Citation</label>
                            <input type="text" id="source_citation"
                                   name="source_citation" tabindex="0"
                                   data-toggle="tooltip"
                                   title="The citation for the source"/>
                        </div>
                        <!-- source notes -->
                        <div class="form-group">
                        <label for="source_notes" data-toggle="collapse"
                               data-target="#source_notes_pane">Source Notes</label>
                        <div id="source_notes_pane" class="collapse">
                            <textarea id="source_notes" class="form-control"
                                      tabindex="0" data-toggle="tooltip"
                                    title="Description of the source and any
                                    additional notes"></textarea>
                        </div>
                    </div>
                        <!-- source form buttons -->
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-sm"
                                id="add_source_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Add a traded item to the source">
                            Add Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="modify_source_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Modify the selected source">
                            Modify Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="delete_source_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Delete the selected source">
                            Remove Item
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                id="reset_source_form_btn" tabindex="0"
                                data-toggle="tooltip"
                                title="Reset the source form">Reset Source Form
                        </button>
                    </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-5">
                <table class="table table-striped" id="voyages_table">
                    <tr id="table_top_row">
                        <th>Voyage ID</th>
                        <th>Voyage Name</th>
                        <th>Ship Name</th>
                        <th>Ship Captain</th>
                        <th>Ship Flag</th>
                        <th>Waypoints</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}