{% block footer %}
    <script type=text/javascript
            src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <div id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">
                    <p class="text-right">version alpha-1</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">
                    <p class="text-right">copyright 2014 fifth column
                        group</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}