<!doctype html>
<title>Jane's Voyages</title>
<!--<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/styles.css')}}">
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
        <script type=text/javascript src="{{
  url_for('static', filename='js/jquery-ui-1.10.4.custom.js') }}"></script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}{% endblock %}